body{
    background-color: rgb(215, 199, 199);
    font-family: monospace;
}

.animate__animated.animate__rotateInUpRight{
    --animate-duration: 3s;
}

.animate__animated.animate__rotateInUpLeft{
    --animate-duration: 2s;
}
.animate__animated.animate__slideInUp{
    --animate-duration: 4s;
}
